@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
*::-webkit-scrollbar {
  display: none;
}

@layer base {
  h1 {
    @apply capitalize font-oswald font-semibold;
  }
  h2 {
    @apply capitalize font-oswald font-medium;
  }
  h3 {
    @apply text-lg text-[24px] font-poppins font-medium;
  }
  h4 {
    @apply capitalize text-base font-poppins font-medium;
  }
  h5 {
    @apply capitalize text-base font-poppins font-normal;
  }
}

@layer components {
  /* ---------------------------- navbar ---------------------------- */
  .logo-container {
    @apply absolute top-2 left-1  md:top-3 md:left-3 cursor-pointer hover:opacity-70 transition-all flex flex-row items-center justify-start gap-x-1 md:gap-x-2;
  }
  .logo-container-hide {
    @apply absolute -top-60 left-1 transition-all flex flex-row items-center justify-start gap-x-1 md:gap-x-2;
  }
  .logo-img {
    @apply w-9 h-9 md:w-10 md:h-10 rounded-full hover:opacity-75 transition-all sm:hidden md:block overflow-hidden;
  }

  /* ---------------------------- general --------------------------- */
  .main-layout {
    @apply h-screen w-full relative bg-fillLit overflow-y-scroll scrollbar-none;
  }
}
