@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
  }
  body {
    @apply text-textMed;
  }
  h1 {
    @apply capitalize text-[24px] lg:text-[30px] text-textDrk font-poppins font-semibold  !important;
  }
  h2 {
    @apply text-[22px]  lg:text-[28px] font-poppins font-semibold   !important;
  }
  h3 {
    @apply text-[18px] lg:text-[24px]  font-poppins font-semibold !important;
  }
  h4 {
    @apply text-[16px] lg:text-[20px] font-poppins font-normal !important;
  }
  h5 {
    @apply text-base lg:text-lg 2xl:text-xl font-poppins font-normal  !important;
  }
  p {
    @apply text-[16px] font-poppins;
  }
}

@layer components {
  .text-small-kit {
    @apply text-sm lg:text-base leading-4 lg:leading-5;
  }
  .panel-width {
    @apply w-full  lg:max-w-[80%] 2xl:max-w-[70%];
  }
  /* ---------------------------- project ---------------------------- */
  .project-title {
    @apply flex gap-4 items-center justify-start  border-b border-DrkBorder shrink-0 h-12 lg:h-14 w-full px-3;
  }
  .project-visit-btn {
    @apply col-span-2 sm:col-span-3 flex items-center justify-center gap-3 w-full border border-accent hover:bg-accent  hover:text-white px-2 rounded-md h-8 bg-fillLitSolid text-accent font-poppins font-semibold transition-all;
  }
  .project-info {
    @apply w-full md:w-1/2 h-[60svh] md:h-[85svh] flex items-center justify-between md:justify-center flex-col  gap-2 p-2  overflow-y-scroll scrollbar-none;
  }
  /* ---------------------------- general --------------------------- */
  .main-layout {
    @apply h-full min-h-screen w-full relative bg-fillLit overflow-y-scroll scrollbar-none snap-y snap-proximity ease-in-out;
  }
  .transparant-button {
    @apply border border-accent rounded-md p-1 h-6 md:h-8  w-full text-center text-small-kit overflow-hidden;
  }
  .modal-bg {
    @apply fixed bg-black h-[100svh] w-full z-20 bg-opacity-50 transition-all;
  }

  .modal {
    @apply absolute w-[80%] h-[90svh] sm:h-[70svh] sm:w-auto bg-fillLitSolid rounded-md z-30 left-1/2 top-1/2  transition-all overflow-hidden;
  }
}
